<body>
  <div class="content">
    <h2>Page Inscription</h2>
    <p style="text-align: center;"><span>Si tu n'as pas de compte, n'hésite pas à t'en faire un chez nous, en plus tu peux directement utiliser le service Google pour t'enregistrer !</span></p>
    <hr>
    <div class="wrapper center-div">
      <div class="form-box login">
        <h2>Inscription</h2>
        <form action="#">
          <div class="input-box">
            <span class="icon">
              <i class="fas fa-envelope"></i>
            </span>
            <input type="email" class="formControl" #userEmail required>
            <label>Email</label>
          </div>
          <div class="input-box">
            <span class="icon">
              <i class="fas fa-lock"></i>
            </span>
            <input type="password" class="formControl" #userPwd required>
            <label>Mot de passe</label>
          </div>
          <button type="button" class="btn" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)">Inscription</button>
          <br><br>
          <button type="button" class="btn" (click)="authService.GoogleAuth()"><i class="fab fa-google-plus-g"></i>Inscription avec Google</button>
          <div class="login-register">
            <p>Déjà un compte ?
            <a routerLink="/connexion">Connexion</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
