<body>
  <section class="container">
  <div class="content">
    <h1>Les Races</h1>
    <p>Dans l'univers de Warcraft, les races sont réparties en deux factions: l'Alliance, et la Horde. Certaines races sont neutres de base, comme les gobelins (seul le cartel Baille-fonds a rejoint la Horde). D'autre encore, comme les Pandarens de l'île Vagabonde, se répartissent entre la Horde et l'Alliance en fonction de leur clans.</p>
    <p>Il y a de nombreuses races dans cet univers, mais les seules jouables sont celles réparties entre les factions ci-dessous.</p>

    <hr>
    <div id="races">
      <!-- HUMAINS -->
      <div class="col-xs-6" routerLink="/races/humain">
        <div class="raceBlock row row-eq-height">
          <div class="col-xs-4 valign-middle text-center">
            <img src="assets/images/races/races_portrait/human.jpg" class="raceLogo">
            <br>
            <img src="assets/images/faction/alliance.png" class="factionLogo">
          </div>
          <div class="col-xs-8">
            <h3>Humains</h3>
            <h4>Défenseurs du royaume</h4>
            <p>Les royaumes humains existent depuis des milliers d'années, et les humains eux-mêmes depuis des milliers d'années. Leur courte vie en comparaison avec les nains et les elfes les pousse à accomplir autant qu'ils le peuvent dans les années qui leur sont données. Leur courage, leur optimisme, et leur entêtement les ont conduit à construire les plus grands royaumes d'Azeroth, dont certains subsistent encore un millénaire plus tard.</p>
          </div>
        </div>
      </div>

      <!-- ORC -->
      <div class="col-xs-6" routerLink="/races/orc">
        <div class="raceBlock row row-eq-height">
          <div class="col-xs-4 valign-middle text-center">
            <img src="assets/images/races/races_portrait/orc.jpg" class="raceLogo">
            <br>
            <img src="assets/images/faction/horde.png" class="factionLogo">
          </div>
          <div class="col-xs-8">
            <h3>Orcs</h3>
            <h4>Conquérents implacables</h4>
            <p>Quand les orcs ont été libérés de la Légion ardente, ils ont ont vécu une révolution spirituelle alors que la soif de sang sanguinaire contre nature a quitté leur corps, les connectant à des états de cœur et d'esprit qui étaient communs à leurs ancêtres. Les orcs d'aujourd'hui continuent à l'opposé de ceux qui ont été asservis par la Légion Ardente voulant être à l'origine de cause plus noble et vaillante comme Thrall.</p>
          </div>
        </div>
      </div>

      <!-- NAINS -->
      <div class="col-xs-6" routerLink="/races/nain">
        <div class="raceBlock row row-eq-height">
          <div class="col-xs-4 valign-middle text-center">
            <img src="assets/images/races/races_portrait/nain.jpg" class="raceLogo">
            <br>
            <img src="assets/images/faction/alliance.png" class="factionLogo">
          </div>
          <div class="col-xs-8">
            <h3>Nains</h3>
            <h4>Explorateurs endurcis</h4>
            <p>Braves et intrépides, les nains sont une race antique descendant des terrestres, des êtres de pierre vivante créés par les titans à l’aube du monde. Une étrange maladie, la malédiction de la chair, changea l’enveloppe de pierre des terrestres en fragile peau organique, et ces nouvelles créatures de chair et de sang se donnèrent le nom de nains et façonnèrent la grande cité de Forgefer au cœur des montagnes enneigées de Khaz Modan.</p>
          </div>
        </div>
      </div>

      <!-- TAUREN -->
      <div class="col-xs-6" routerLink="/races/tauren">
        <div class="raceBlock row row-eq-height">
          <div class="col-xs-4 valign-middle text-center">
            <img src="assets/images/races/races_portrait/tauren.jpg" class="raceLogo">
            <br>
            <img src="assets/images/faction/horde.png" class="factionLogo">
          </div>
          <div class="col-xs-8">
            <h3>Taurens</h3>
            <h4>Défenseurs de la Terre-Mère</h4>
            <p>Les paisibles taurens, ou "shu’halo" dans leur propre langue, ont longtemps habité en Kalimdor, s’efforçant d’y préserver l’équilibre de la nature au nom de leur déesse la Terre-Mère. Jusqu’à peu, ils vivaient en nomades dispersés dans les Tarides, chassant les grands kodos indigènes des étendues désertiques.</p>
          </div>
        </div>
      </div>

      <!-- GNOMES -->
      <div class="col-xs-6" routerLink="/races/gnome">
        <div class="raceBlock row row-eq-height">
          <div class="col-xs-4 valign-middle text-center">
            <img src="assets/images/races/races_portrait/gnome.jpg" class="raceLogo">
            <br>
            <img src="assets/images/faction/alliance.png" class="factionLogo">
          </div>
          <div class="col-xs-8">
            <h3>Gnomes</h3>
            <h4>Bricoleurs de génie</h4>
            <p>Les créatures ingénieuses, audacieuses et parfois excentriques que sont les gnomes constituent un paradoxe unique chez les peuples d’Azeroth : ces brillants inventeurs à la nature irrésistiblement joviale ont pourtant connu la trahison et l’exode, et échappé de peu au génocide. C’est ainsi que se caractérise leur si remarquable optimisme face à de si terribles calamités qui symbolise l’inébranlable esprit des gnomes.</p>
          </div>
        </div>
      </div>

      <!-- MORT-VIVANT -->
      <div class="col-xs-6" routerLink="/races/reprouve">
        <div class="raceBlock row row-eq-height">
          <div class="col-xs-4 valign-middle text-center">
            <img src="assets/images/races/races_portrait/reprouves.jpg" class="raceLogo">
            <br>
            <img src="assets/images/faction/horde.png" class="factionLogo">
          </div>
          <div class="col-xs-8">
            <h3>Morts-Vivants</h3>
            <h4>Cadavres inébranlables</h4>
            <p>La mort n’offrit nul repos aux humains tués par centaines lors de la campagne d’extermination menée par le roi-liche en Lordaeron. Les victimes furent relevées dans la non-mort au service du Fléau et forcés à combattre dans une guerre impie contre tout ce et tous ceux qu’ils avaient jadis chéris.</p>
          </div>
        </div>
      </div>

      <!-- ELFES DE LA NUIT -->
      <div class="col-xs-6" routerLink="/races/elfenuit">
        <div class="raceBlock row row-eq-height">
          <div class="col-xs-4 valign-middle text-center">
            <img src="assets/images/races/races_portrait/elfe_de_la_nuit.jpg" class="raceLogo">
            <br>
            <img src="assets/images/faction/alliance.png" class="factionLogo">
          </div>
          <div class="col-xs-8">
            <h3>Elfes de la Nuit</h3>
            <h4>Gardiens vénérables</h4>
            <p>L’antique et solitaire peuple des elfes de la nuit joua un rôle crucial dans le destin d’Azeroth. Ceux d’aujourd’hui se rappellent encore la guerre des Anciens, il y a plus de dix mille ans, lorsqu’ils mirent fin à la première invasion du monde par la Légion ardente. Des siècles plus tard, quand les troupes restantes de la Légion s’unirent aux abjects satyres, les elfes de la nuit affrontèrent et vainquirent cette nouvelle menace décidée à faire régner le chaos.</p>
          </div>
        </div>
      </div>

      <!-- TROLL -->
      <div class="col-xs-6" routerLink="/races/troll">
        <div class="raceBlock row row-eq-height">
          <div class="col-xs-4 valign-middle text-center">
            <img src="assets/images/races/races_portrait/troll.jpg" class="raceLogo">
            <br>
            <img src="assets/images/faction/horde.png" class="factionLogo">
          </div>
          <div class="col-xs-8">
            <h3>Trolls</h3>
            <h4>Conjurateurs mystiques</h4>
            <p>Les sauvages trolls d’Azeroth sont connus pour leur brutalité, leur mysticisme ténébreux et leur violente haine de toutes les autres races. Mais il existe une exception : la tribu Sombrelance et son habile chef, Vol’jin. Portant le fardeau d’une histoire de servitude et d’exil, cette fière tribu était au bord de l’extinction lorsque le chef de guerre Thrall et la puissante armée de la Horde s’échouèrent sur son île perdue des mers du Sud durant une violente tempête.</p>
          </div>
        </div>
      </div>

      <!-- DRAENEI -->
      <div class="col-xs-6" routerLink="/races/draenei">
        <div class="raceBlock row row-eq-height">
          <div class="col-xs-4 valign-middle text-center">
            <img src="assets/images/races/races_portrait/draenei.jpg" class="raceLogo">
            <br>
            <img src="assets/images/faction/alliance.png" class="factionLogo">
          </div>
          <div class="col-xs-8">
            <h3>Draeneis</h3>
            <h4>Exilés mystiques</h4>
            <p>Bien longtemps avant de lancer l’invasion d’Azeroth par la Légion, le titan déchu Sargeras avait conquis le monde d’Argus et soumis ses habitants, les érédars. Convaincu que le génie de ce peuple serait déterminant pour sa quête d’anéantissement de toute la création, il en contacta les dirigeants, Kil’jaeden, Archimonde et Velen, et leur offrit savoir et puissance en échange de leur allégeance.</p>
          </div>
        </div>
      </div>

      <!-- ELFES DE SANG -->
      <div class="col-xs-6" routerLink="/races/elfesang">
        <div class="raceBlock row row-eq-height">
          <div class="col-xs-4 valign-middle text-center">
            <img src="assets/images/races/races_portrait/elfe_de_sang.jpg" class="raceLogo">
            <br>
            <img src="assets/images/faction/horde.png" class="factionLogo">
          </div>
          <div class="col-xs-8">
            <h3>Elfes de Sang</h3>
            <h4>Réfugiés vindicatif</h4>
            <p>Pendant près de sept mille ans, la société des hauts-elfes dépendit du Puits soleil, une source sacrée qui alimentait sa consommation courante de magie. Grâce à l’énergie du puits, le royaume enchanté de Quel’Thalas prospérait dans les forêts du nord de Lordaeron. Jusqu'au jour où cette source disparut.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
