<body>
  <section class="container">
  <div id="classContainer"><h1>Les Chamans</h1>
    <h4 class="color-shaman">Adeptes des éléments</h4>
    <div class="classSection">
        <div class="row">
            <div class="col-xs-6">
                <p class="italic">Les chamans sont des guides spirituels qui font appel à des puissances non pas divines mais élémentaires. Ce mysticisme particulier amène le chaman à communier avec des forces qui ne sont pas toujours bienveillantes. Les éléments sont chaotiques, et livrés à eux-mêmes, ils se déchaînent les uns contre les autres dans une fureur primale permanente. Il est du devoir des chamans d’amener un équilibre dans ce chaos. Capable de modérer la terre, le feu, l’eau et l’air, le chaman dirige ces forces pour soutenir ses alliés ou frapper leurs adversaires.</p>
                <p class="color-white">Les chamans possèdent plusieurs style de jeu. Si tous peuvent se transformer en <b class="color-gold">Loup Fantôme</b> ou <b class="color-gold">transformer leurs ennemis en grenouille</b>, les chamans spécialisés dans l'eau (<i>Restauration</i>) seront les plus aptes à soigner leurs alliés. Quand le combat est nécessaire, les chamans dits <i>Élémentaires</i> combattent à distance en <b class="color-gold">foudroyant leur ennemis</b> ou en leur envoyant des boules de magma, tandis que les chamans dits <i>Améliorations</i> foncent au corps-à-corps, armés de <b class="color-gold">masses ou de haches renforcées</b> par la puissance des éléments.</p>
                <h3>Exemple de sorts</h3>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="javascript:#chamabase" aria-controls="home" role="tab" data-toggle="tab">
                            <img class="round-50" src="/assets/images/classes/chaman.jpg">
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a href="javascript:#chamaheal" aria-controls="settings" role="tab" data-toggle="tab">
                            <img class="round-50" src="/assets/images/classes/specialisation/cham_restau.jpg">
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a href="javascript:#chamelem" aria-controls="profile" role="tab" data-toggle="tab">
                            <img class="round-50" src="/assets/images/classes/specialisation/cham_elem.jpg">
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a href="javascript:#chamelio" aria-controls="messages" role="tab" data-toggle="tab">
                            <img class="round-50" src="/assets/images/classes/specialisation/cham_amelio.jpg">
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="chamabase">
                        <h4>Toutes spécialisations confondues</h4>

                        <ul>
                            <li><b>Loup Fantôme:</b> le chaman peut se transformer en loup fantôme. Il se déplace plus vite, et ne peut pas être touché par des armes. Mais il ne peut pas attaquer avec ses crocs ou ses griffes.</li>
                            <li><b>Purification:</b> le chaman peut soigner les alliés empoisonnés.</li>
                            <li><b>Maléfice:</b> le chaman peut transformer ses ennemis en grenouilles.</li>
                            <li><b>Ascendance:</b> le chaman peut se transformer en un être d'énergie brut, dont les bonus différencient selon la spécialisation.</li>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="chamelem">
                        <h4>Elémentaire</h4>
                        <i class="font-size-80pct">Dégâts à distance</i>
                        <br>

                        <ul>
                            <li><b>Eclair:</b> le chaman lance des éclairs pour combattre.</li>
                            <li><b>Chaîne d'Eclairs: </b> l'éclair du chaman rebondit sur les ennemis.</li>
                            <li><b>Explosion de Lave:</b> le chaman lance des boules de magma en fusion.</li>
                            <li><b>Invocation d'élémentaires:</b> le chaman peut invoquer un élémentaire de Feu ou de Foudre.</li>
                            <li><b>Séisme:</b> la terre tremble autour du chaman.</li>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="chamelio">
                        <h4>Amélioration</h4>
                        <i class="font-size-80pct">Dégâts au Corps à Corps</i>
                        <br>

                        <ul>
                            <li><b>Furie des Vents:</b> le chaman énergise ses armes pour attaquer plus vite.</li>
                            <li><b>Frappe de Foudre:</b> le chaman énergise ses armes pour faire plus de dégâts, et parfois électrocuter ses ennemis.</li>
                            <li><b>Horion de Terre:</b> le chaman repousse ses ennemis.</li>
                            <li><b>Bouclier de foudre:</b> le chaman est protéger par la foudre qui blesse les ennemis proches.</li>
                            <li><b>Invocation de loups fantômes:</b> Trois loups fantômes s'ajoutent au combat.</li>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="chamaheal">
                        <h4>Restauration</h4>
                        <i class="font-size-80pct">Soigneur</i>
                        <br>

                        <ul>
                            <li><b>Vague de soins:</b> Sort de soin de base du chaman</li>
                            <li><b>Horion de glace:</b> Utilisant l'eau de manière offensive, le chaman peut geler un ennemi.</li>
                            <li><b>Salve de guérison:</b> les soins rebondissent sur les alliés</li>
                            <li><b>Invocation d'élementaire de terre</b></li>
                            <li><b>Bouclier de terre:</b> le chaman protège ses alliés d'une gangue de terre</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="classCaracBloc">
                  <p style="text-align: center;"><img src="/assets/images/classes/logo/chaman_logo.png" class="logoClass"></p>
                    <h3>A savoir</h3>
                    <b>Chamans célèbres:</b> Thrall (ou Go'el), Nobundo, Drek'Thar, Ner'zhul, Rehgar Marcheterre. L'organisation qui regroupe la plupart des chamans du monde est le Cercle Terrestre, basé au niveau du Maëlstrom.
                    <br><br>
                    <b>Armures accessibles:</b> Tissu, Cuir, Mailles, Bouclier.
                    <br><br>
                    <b>Armes accessibles:</b> Dagues, Armes de pugilat, Hache à une ou deux mains, Masses à une ou deux mains, Bâtons.
                    <br><br>
                    <b>Modificateur ATQ/PAR:</b> Aucun.
                    <br><br>
                    <b>Compétence Obligatoire:</b> Ambidextrie (Amélioration uniquement).
                    <br><br>
                    <b>Races jouables:</b>
                    <div class="row">
                        <div class="col-xs-6 valign-middle margin-top-5">
                            <img src="imgs/races/head/6.jpg" class="square-40">
                            <a href="#/races/draenei"><img src="imgs/2.png" class="square-20"> Draenei</a>
                        </div>
                        <div class="col-xs-6 valign-middle margin-top-5">
                            <img src="imgs/races/head/14.jpg" class="square-40">
                            <a href="#/races/goblin"><img src="imgs/1.png" class="square-20"> Gobelin</a>
                        </div>
                        <div class="col-xs-6 valign-middle margin-top-5">
                            <img src="imgs/races/head/20.jpg" class="square-40">
                            <a href="#/races/jinyus"><img src="imgs/2.png" class="square-20"> Jinyus</a>
                        </div>
                        <div class="col-xs-6 valign-middle margin-top-5">
                            <img src="imgs/races/head/2.jpg" class="square-40">
                            <a href="#/races/dwarf"><img src="imgs/2.png" class="square-20"> Nain</a>
                        </div>
                        <div class="col-xs-6 valign-middle margin-top-5">
                            <img src="imgs/races/head/9.jpg" class="square-40">
                            <a href="#/races/orc"><img src="imgs/1.png" class="square-20"> Orc</a>
                        </div>
                        <div class="col-xs-6 valign-middle margin-top-5">
                            <img src="imgs/races/head/8.jpg" class="square-40">
                            <a href="#/races/pandaren">
                                <img src="imgs/1.png" class="square-20">
                                <img src="imgs/2.png" class="square-20">
                                Pandaren
                            </a>
                        </div>
                        <div class="col-xs-6 valign-middle margin-top-5">
                            <img src="imgs/races/head/10.jpg" class="square-40">
                            <a href="#/races/tauren"><img src="imgs/1.png" class="square-20"> Tauren</a>
                        </div>
                        <div class="col-xs-6 valign-middle margin-top-5">
                            <img src="imgs/races/head/12.jpg" class="square-40">
                            <a href="#/races/troll"><img src="imgs/1.png" class="square-20"> Troll</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </section>
</body>
