<body>
  <div class="content">
  <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h2>Connexion</h2>
        <p style="text-align: center;"><span>Faire un compte sur ce site vous permet de mieux gérer vos fiches, en plus de vous tenir au courant des mises à jours!</span></p>
        <hr>
        <div class="text-center">
        <div class="formGroup">
          <label class="controlLabel text-right margin-top-5">Pseudo : </label>
          <input type="text" class="formControl" placeholder="Nom de compte" #userName required>
        </div>
        <div class="formGroup">
          <label class="controlLabel text-right margin-top-5">Mot de passe : </label>
          <input type="password" class="formControl ng-pristine ng-untouched ng-valid" placeholder="Mot de passe" #userPassword required>
        </div>
        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup">
          <input type="button" class="btn btn-primary" value="Connexion" (click)="authService.SignIn(userName.value, userPassword.value)">
        </div>
        <!-- Calling GoogleAuth Api from AuthService -->
        <div class="formGroup">
          <button type="button" class="btn btn-primary" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Log in with Google
          </button>
        </div>
        <div class="forgotPassword">
          <span routerLink="/mot-de-passe-oublie">Mot de passe oublié ?</span>
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>
</body>
