<body>
  <section class="container">
    <style class="ng-scope">.red{color:red}.lightblue{color:#C5C5F7}.orange{color:orange}.cyan{color:cyan}.green{color:#25F94F;}.jauneClair{color:#FFED7C;}.popover-title{color:#AA0000 !important; font-size: 1.1em !important; font-weight: bold;}b[rel=popover]{color:white;cursor:pointer}.popover-content img{width: 200px !important;}</style>

    <h2>Chronologie</h2>

    <p>Dans l'univers de Warcraft, l'an 0 correspond à l'ouverture de la Porte des Ténèbres et le début de la Première
      Guerre. Voici une chronologie non exhaustive des évènements majeurs d'Azeroth, et des embranchements créés par les
      différents scénarii. Cliquez sur les années pour avoir le détail! Vous pouvez aussi consulter l'autre onglet pour
      savoir quels personnages importants sont encore vivants.</p>

    <ul class="nav nav-tabs" role="tablist" id="menuScenar">
      <li role="presentation" class="active"><a href="#chronologie" aria-controls="home" role="tab"
          data-toggle="tab">Chronologie</a></li>
      <li role="presentation"><a href="#perso" aria-controls="home" role="tab" data-toggle="tab">Personnages importants</a>
      </li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="chronologie">

        <b>Légende:</b>
        <ul>
          <li class="lightblue"><i class="fas fa-birthday-cake"></i> Naissance d'un personnage important</li>
          <li class="green"><i class="fas fa-thumbtack"></i> Evènement important</li>
          <li class="orange"><i class="fas fa-bolt"></i> Début d'un conflit long</li>
          <li class="orange"><i class="fas fa-flag"></i> Fin d'un conflit long</li>
          <li class="orange"><i class="fas fa-exclamation-triangle"></i> Conflit rapide</li>
          <li class="red"><i class="fas fa-tint"></i> Mort d'un personnage important</li>
        </ul>
        <hr>
      </div>
    </div>
  </section>
</body>
