<body>
  <section class="container">
    <div id="raceContainer">
    <h1>Les Nains</h1>
    <h4><img src="assets/images/faction/alliance.png" class="height-40px"> Explorateurs endurcis <img src="assets/images/faction/alliance.png" class="height-40px"></h4>
    <div class="raceSection">
      <div class="row">
        <div class="col-xs-7">
          <img src="assets/images/races/nain/nain_portrait.png" class="pull-right width-half">
          <p class="italic">Et voici le pourquoi et le comment, pour ne faire à nouveau qu'un avec la montagne. Car voici, nous sommes la terre, de la terre, et son âme est la nôtre, sa douleur est la nôtre, son battement de cœur est le nôtre. Nous chantons sa chanson et pleurons sa beauté. Car qui ne souhaiterait pas rentrer chez lui ? C'est la raison, ô enfants de la terre.</p>
          <p class="color-white">Leur royaume est riche d'une grandeur ancienne, des salles taillées dans les racines des montagnes, l'écho des pics et des marteaux dans les mines profondes et les forges rugissantes, un engagement envers le clan et à la tradition, ces points communs unissent tous les nains. Dans les montagnes de Khaz Modan, ils poursuivent leurs anciennes méthodes, étendant la profondeur de leurs salles, et construisant des merveilles d'architecture.</p>
          <p class="color-white">Les fragments non découverts de leur passé ont conduit les nains dans un exode sans précédent d'exploration à la recherche de leurs origines. Les nains ont envoyé des prospecteurs à travers tout Lordaeron afin de rechercher des signes des Titans, les supposés créateurs des nains. Les nains ont adopté l'idée que c'est leur but de chercher dans le monde pour trouver d'autres signes de preuve de leur héritage. Les nains existent dans les endroits les plus désolés d'Azeroth. Ici, les nains passent leur temps à chercher les secrets des temps anciens, ou utilisent simplement leurs avant-postes comme des étapes pour des expéditions visant à éliminer leurs ennemis afin qu'ils puissent poursuivre leur quête.</p>
          <p class="color-white">Audacieux et robustes, les nains sont connus pour être d'habiles guerriers, mineurs, et travailleurs de la pierre et du métal. Bien qu'ils mesurent moins d'un mètre cinquante, les nains sont si larges et compacts qu'ils peuvent peser autant qu'un humain. Leur courage et leur endurance sont aussi facilement à la hauteur de n'importe quel peuple plus grand. La peau des nains va du brun profond à une teinte plus pâle teintée de rouge, mais les nuances les plus courantes sont le marron clair ou le bronzage profond, comme certains tons de la terre. Alors que le clan des Sombrefers ont une peau nettement plus foncée, allant du gris au noir de charbon. Leurs cheveux, portés longs mais dans des styles simples, sont généralement noirs, gris ou bruns, bien que les nains du marteau sauvage aient souvent les cheveux roux. Les hommes nains accordent une grande importance à leur barbe, dont ils s'occupent soigneusement.</p>
          <p class="color-white">Les nains sont un peuple fier, sévère et déterminé avec des traits de bonté cachés sous l'extérieur bourru de leur solide charpente. Leur amour pour la bataille, l'invention et l'exploration les pousse à aller de l'avant pour découvrir et explorer les mystères de leur héritage, en les éduquant davantage sur ceux qui ont créé la race naine. Ce n'est que récemment que les nains ont découvert l'héritage de leurs anciens ancêtres, les Titans. Alors que les nains commencent à fouiller plus profondément dans les mystères de leur passé, ils commencent à découvrir des énigmes plus profondes.</p>
        </div>
        <div class="col-xs-5">
          <div class="raceCaracBloc">
            <p style="text-align: center;"><img src="assets/images/races/nain/nain_logo.png" class="logoRace"></p>
            <h3>Fiche des Nains</h3>
            <b>Capitale :</b> Forgefer.
            <br>
            <b>Dirigeant :</b> Roi Magni Barbe-de-Bronze
            <br><br>
            <b>Caractéristiques au niveau 1 :</b>
            <ul>
              <li><b>Vitesse de déplacement :</b> 4 cases</li>
              <li><b>Caractéristique bonus :</b> (+2) en Constitution, (+1) en Force, (-2) en Dextérité</li>
              <li><b>Age :</b> Les nains mûrissent au même rythme que les humains, mais ils sont considérés comme jeunes jusqu'à ce qu'ils atteignent l'âge de 40 ans en moyenne, ils vivent environ 450 ans.</li>
              <li><b>Langues parlées :</b> Les nains parlent le commun et le nain.</li>
              <li><b>Alignement :</b> La plupart des nains sont loyaux, croyant fermement aux avantages d'une société bien ordonnée. Ils tendent vers le bien avec un sens aigu du fair-play et la conviction que tout le monde mérite de partager les bénéfices d'un ordre juste. Le meilleur et le pire se trouvent parmi eux.</li>
              <li><b>Taille moyenne :</b> Les nains ne varient pas tant que ça en taille et en corpulence, entre 1m à un peu plus d'1m20.</li>
            </ul>
            <br>
            <b>Classes jouables:</b>
            <div class="row">
              <div class="col-xs-6 valign-middle margin-top-5">
                <img src="/assets/images/classes/chaman.jpg" class="square-40">
                <a href="/classes/chaman"> Chaman</a>
              </div>
              <div class="col-xs-6 valign-middle margin-top-5">
                <img src="/assets/images/classes/chasseur.jpg" class="square-40">
                <a href="/classes/chasseur"> Chasseur</a>
              </div>
              <div class="col-xs-6 valign-middle margin-top-5">
                <img src="/assets/images/classes/chevalier_mort.jpg" class="square-40">
                <a href="/classes/dk" class="font-size-10px"> Chevalier de la Mort</a>
              </div>
              <div class="col-xs-6 valign-middle margin-top-5">
                <img src="/assets/images/classes/demoniste.jpg" class="square-40">
                <a href="/classes/demoniste"> Démoniste</a>
              </div>
              <div class="col-xs-6 valign-middle margin-top-5">
                <img src="/assets/images/classes/guerrier.jpg" class="square-40">
                <a href="/classes/guerrier"> Guerrier</a>
              </div>
              <div class="col-xs-6 valign-middle margin-top-5">
                <img src="/assets/images/classes/mage.jpg" class="square-40">
                <a href="/classes/mage"> Mage</a>
              </div>
              <div class="col-xs-6 valign-middle margin-top-5">
                <img src="/assets/images/classes/moine.jpg" class="square-40">
                <a href="/classes/moine"> Moine</a>
              </div>
              <div class="col-xs-6 valign-middle margin-top-5">
                <img src="/assets/images/classes/paladin.jpg" class="square-40">
                <a href="/classes/paladin"> Paladin</a>
              </div>
              <div class="col-xs-6 valign-middle margin-top-5">
                <img src="/assets/images/classes/pretre.jpg" class="square-40">
                <a href="/classes/pretre"> Prêtre</a>
              </div>
              <div class="col-xs-6 valign-middle margin-top-5">
                <img src="/assets/images/classes/voleur.jpg" class="square-40">
                <a href="/classes/voleur"> Voleur</a>
              </div>
            </div>
            <br>
            <b>Traits raciaux:</b>
            <ul>
              <li><b>Vision nocturne :</b> Vous pouvez voir dans la pénombre à moins de 12 cases de vous comme si c'était une lumière vive, et dans l'obscurité comme si c'était faiblelumière. Vous ne pouvez pas discerner la couleur dans l'obscurité, seulement des nuances de gris.</li>
              <li><b>Ascendance terrestre :</b> Vous avez l'immunité sur les jets de sauvegarde contre la magie de transmutation, ainsi que les sorts ou effets qui modifierait votre forme.</li>
              <li><b>Astucieux :</b> Les fusiliers Nains sont célèbres pour leur acuité, leurs expertises et leur penchant pour les marteaux les rendent particulièrement habiles quand ils s’équipent de masses ce quileur offre un bonus de +1 à l’attaque.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
</body>
