<body>
  <div class="content">
    <h2>Récupération de Mot de Passe</h2>
    <p class="text-center">Veuillez indiquer votre adresse mail pour recevoir un mail de reset de mot de passe.</p>
    <hr>
    <div class="wrapper center-div">
      <div class="form-box login">
        <div class="input-box">
          <span class="icon">
            <i class="fas fa-envelope"></i>
          </span>
          <input type="email" class="formControl" #passwordResetEmail required>
          <label>Email</label>
        </div>
        <button type="submit" class="btn" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset MDP</button>
        <div class="reset-mdp">
          <p>Je me souviens de mon compte ?
          <a routerLink="/connexion">Connexion</a></p>
        </div>
      </div>
    </div>
  </div>
</body>
