/*******************
* General tag change
*******************/
body {
  padding-top:60px;
  padding-bottom:60px;
  background-image: url("../../../../assets/images/background/tournament.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: justify;
  color: #ebdec2;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 17px;
  text-shadow: 0 0 1px transparent,0 1px 2px rgba(0,0,0,.8);
}

.content{
  margin-top: 0.3rem;
  padding: 0.5rem 1rem;
  position: relative;
  height: 80rem;
}

h1, h2, h3, h4 {
  color: #FFFFFF;
  text-align:center;
  font-family: "Montserrat","Open Sans",Arial,Helvetica,sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5em;
  text-shadow: 0 0 1px transparent, 0 0 5px rgb(0 0 0 / 80%);
}

.center-div {
  margin: 0 auto;
  width: 100px;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.form-box h2 {
  font-size: 2em;
  color:white;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid white;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: white;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label
{
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: white;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: white;
  line-height: 57px;
}

.forgotPassword {
  font-size: .9em;
  color: white;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.forgotPassword a {
  color:#f8b700;
  text-decoration: none;
}

.forgotPassword a:hover{
  text-decoration: underline;
}

.btn{
  width: 100%;
  height: 45px;
  background: #f8b700;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.reset-mdp {
  font-size: .9em;
  color: white;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.reset-mdp p a {
  color:#f8b700;
  text-decoration: none;
  font-weight: 600;
}

.reset-mdp p a:hover {
  text-decoration: underline;
}
