<body>
    <section class="container">
      <div id="classContainer"><h1>Le Guerrier</h1>
        <h4 class="color-warrior">Seigneur de Guerre</h4>
        <div class="classSection">
            <div class="row">
                <div class="col-xs-6">
                    <p class="italic">Depuis que la guerre fait rage, des héros de toutes races ont cherché à maîtriser l’art du combat. Les Guerriers combinent force, autorité et maîtrise des armes et des armures pour causer des ravages dans des combats épiques. Certains montent au front avec leur bouclier en protection pour bloquer les ennemis, permettant à leurs alliés en soutien à l’arrière de faire usage de leurs sorts et de leurs arcs. D’autres renoncent au bouclier pour lâcher les coups enragés de leurs diverses armes meurtrières sur leurs adversaires les plus proches.</p>
                    <p class="color-white">Les Guerriers s’équipent avec précaution pour le combat, et n’hésitent pas à engager le combat la tête la première tel un éclair vêtu d’une <b class="color-gold">armure lourde</b>. Leurs tactiques de combat sont variées et ils peuvent brandir plusieurs types d’armes pour protéger leurs alliés moins versés dans le combat. Toutefois, ils doivent gérer cette <b class="color-gold">rage</b> et la puissance de leurs assauts les plus violents avec attention, afin de maximiser leur efficacité au cœur de la bataille.</p>
                    <h3>Présentation du Guerrier</h3>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#guerbase" aria-controls="home" role="tab" data-toggle="tab">
                                <img class="round-50" src="/assets/images/classes/guerrier.jpg">
                            </a>
                        </li>
                        <li role="presentation" class="active">
                            <a href="#guersorts" aria-controls="home" role="tab" data-toggle="tab">
                                <img class="round-50" src="/assets/images/classes/specialisation/guer_sorts.png">
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#guerarmes" aria-controls="profile" role="tab" data-toggle="tab">
                                <img class="round-50" src="/assets/images/classes/specialisation/guer_armes.jpg">
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#guerfureur" aria-controls="messages" role="tab" data-toggle="tab">
                                <img class="round-50" src="/assets/images/classes/specialisation/guer_fureur.png">
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#guerprotect" aria-controls="messages" role="tab" data-toggle="tab">
                                <img class="round-50" src="/assets/images/classes/specialisation/guer_protect.jpg">
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="guerbase">
                            <h4>Table des sorts</h4>
                            <table style="width: 100%; border: 1px solid black; border-collapse: collapse; text-align: center;">
                                <tbody bgcolor="FBFAE6">
                                <tr style="border: 1px solid black; border-collapse: collapse; text-align: center;">
                                <th style="width: 30%; padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>Niv.</strong></th>
                                <th style="width: 20%; padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;">M.B</th>
                                <th style="width: 50%; padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>Sorts</strong></th>
                                <th style="width: 50%; padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>R&eacute;serve de Rage</strong></th>
                                <th style="width: 50%; padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>Manoeuvres connues</strong></th>
                                </tr>
                                <tr style="border: 1px solid black; border-collapse: collapse; text-align: center; color:black">
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>Niv. 1</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;">+2</td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: left;">
                                <ul>
                                    <li style="color: black;">Style de combat</li>
                                    <li style="color: black;">Second souffle</li>
                                </ul>
                                </td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>-</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>-</strong></td>
                                </tr>
                                <tr style="border: 1px solid black; border-collapse: collapse; text-align: center; color:black">
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>Niv. 2</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;">+2</td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: left;">
                                <ul>
                                    <li style="color: black;">Rage int&eacute;rieure</li>
                                </ul>
                                </td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>1</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>-</strong></td>
                                </tr>
                                <tr style="border: 1px solid black; border-collapse: collapse; text-align: center; color:black">
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>Niv. 3</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;">+2</td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: left;">
                                <ul>
                                    <li style="color: black;">Arch&eacute;type martial</li>
                                    <li style="color: black;">Am&eacute;lioration de Rage int&eacute;rieure</li>
                                </ul>
                                </td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>2</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>2</strong></td>
                                </tr>
                                <tr style="border: 1px solid black; border-collapse: collapse; text-align: center; color:black">
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>Niv. 4</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;">+2</td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: left;">
                                <ul>
                                    <li style="color: black;">Caract&eacute;ristique augment&eacute;e</li>
                                </ul>
                                </td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>2</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>2</strong></td>
                                </tr>
                                <tr style="border: 1px solid black; border-collapse: collapse; text-align: center; color:black">
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>Niv. 5</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;">+3</td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: left;">
                                <ul>
                                    <li style="color: black;">Attaque sup.</li>
                                </ul>
                                </td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>3</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>2</strong></td>
                                </tr>
                                <tr style="border: 1px solid black; border-collapse: collapse; text-align: center; color:black">
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>Niv. 6</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;">+3</td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: left;">
                                <ul>
                                    <li style="color: black;">D&eacute;passement de soi (Une utilisation)</li>
                                </ul>
                                </td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>3</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>3</strong></td>
                                </tr>
                                <tr style="border: 1px solid black; border-collapse: collapse; text-align: center; color:black">
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>Niv. 7</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;">+3</td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: left;">
                                <ul>
                                    <li style="color: black;">Carac. de l'arch&eacute;type martial</li>
                                </ul>
                                </td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>4</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>3</strong></td>
                                </tr>
                                <tr style="border: 1px solid black; border-collapse: collapse; text-align: center; color:black">
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>Niv. 8</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;">+3</td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: left;">
                                <ul>
                                    <li style="color: black;">Caract&eacute;ristique augment&eacute;e</li>
                                </ul>
                                </td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>4</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>3</strong></td>
                                </tr>
                                <tr style="border: 1px solid black; border-collapse: collapse; text-align: center; color:black">
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>Niv. 9</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;">+4</td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: left;">
                                <p>&nbsp;</p>
                                </td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><b>5</b></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>3</strong></td>
                                </tr>
                                <tr style="border: 1px solid black; border-collapse: collapse; text-align: center; color:black">
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>Niv. 10</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;">+4</td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: left;">
                                <ul>
                                    <li style="color: black;">Indomptable (Une utilisation)</li>
                                </ul>
                                </td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>5</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>3</strong></td>
                                </tr>
                                <tr style="border: 1px solid black; border-collapse: collapse; text-align: center; color:black">
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>Niv. 11</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;">+4</td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: left;">
                                <ul>
                                    <li style="color: black;">Carac. de l'arch&eacute;type martial</li>
                                </ul>
                                </td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>6</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>4</strong></td>
                                </tr>
                                <tr style="border: 1px solid black; border-collapse: collapse; text-align: center; color:black">
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>Niv. 12</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;">+4</td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: left;">
                                <ul>
                                    <li style="color: black;">Caract&eacute;ristique augment&eacute;e</li>
                                </ul>
                                </td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>6</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>4</strong></td>
                                </tr>
                                <tr style="border: 1px solid black; border-collapse: collapse; text-align: center; color:black">
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>Niv. 13</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;">+5</td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: left;">&nbsp;</td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>7</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>4</strong></td>
                                </tr>
                                <tr style="border: 1px solid black; border-collapse: collapse; text-align: center; color:black">
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>Niv. 14</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;">+5</td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: left;">
                                <ul>
                                    <li style="color: black;">Indomptable (Deux utilisations)</li>
                                </ul>
                                </td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>7</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>4</strong></td>
                                </tr>
                                <tr style="border: 1px solid black; border-collapse: collapse; text-align: center; color:black">
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>Niv. 15</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;">+5</td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: left;">
                                <ul>
                                    <li style="color: black;">Carac. de l'arch&eacute;type martial</li>
                                </ul>
                                </td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>8</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>4</strong></td>
                                </tr>
                                <tr style="border: 1px solid black; border-collapse: collapse; text-align: center; color:black">
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>Niv. 16</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;">+5</td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: left;">
                                <ul>
                                    <li style="color: black;">Caract&eacute;ristique augment&eacute;e</li>
                                </ul>
                                </td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>8</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>5</strong></td>
                                </tr>
                                <tr style="border: 1px solid black; border-collapse: collapse; text-align: center; color:black">
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>Niv. 17</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;">+6</td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: left;">
                                <ul>
                                    <li style="color: black;">D&eacute;passement de soi (Deux utilisations)</li>
                                </ul>
                                </td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>9</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>5</strong></td>
                                </tr>
                                <tr style="border: 1px solid black; border-collapse: collapse; text-align: center; color:black">
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>Niv. 18</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;">+6</td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: left;">
                                <ul>
                                    <li style="color: black;">Carac. de l'arch&eacute;type martial</li>
                                </ul>
                                </td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>9</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>5</strong></td>
                                </tr>
                                <tr style="border: 1px solid black; border-collapse: collapse; text-align: center; color:black">
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>Niv. 19</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;">+6</td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: left;">
                                <ul>
                                    <li style="color: black;">Caract&eacute;ristique augment&eacute;e</li>
                                </ul>
                                </td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><b>10</b></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>5</strong></td>
                                </tr>
                                <tr style="border: 1px solid black; border-collapse: collapse; text-align: center; color:black">
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;"><strong>Niv. 20</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: center;">+6</td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse; text-align: left;">
                                <ul>
                                    <li style="color: black;">Attaque supp. (2)</li>
                                </ul>
                                </td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>10</strong></td>
                                <td style="padding: 15px; border: 1px solid black; border-collapse: collapse;"><strong>5</strong></td>
                                </tr>
                                </tbody>
                                </table>
                                <p>&nbsp;</p>
                                <ul>
                                    <p>Si une manœuvre de rage a des prérequis, vous devez les satisfaire pour l'apprendre. Vous pouvez apprendre la manœuvre en même temps que vous remplissez ses conditions préalables. Un prérequis de niveau fait référence à votre niveau dans cette classe.</p>
                                    <br>
                                    <li><b>Rage du Berserker :</b> Vous pouvez utiliser votre action et dépenser 3 points de rage pour mettre fin à un effet qui vous charme ou vous effraie.</li>
                                    <li><b>Soif inextinguible :</b> Lorsque vous touchez une créature avec une attaque d'arme de mêlée, vous pouvez dépenser 3 points de rage pour vous renforcer sur le moment. Lorsque vous le faites, vous gagnez des points de vie temporaires égaux à 1d8 + votre niveau de guerrier. Ces points de vie durent 3 tours.</li>
                                    <li><b>Fendre :</b> (Niv.6 requis) Lorsque vous touchez une créature avec une attaque d'arme de mêlée, vous pouvez dépenser 4 rage pour tenter de fendre une autre créature avec la même attaque. Choisissez une autre créature dans un rayon de 2 cases de la cible initiale et à votre portée. Si le jet d'attaque original touche la seconde créature, faites un jet de dégâts pour elle comme s'il s'agissait d'une attaque normale.</li>
                                    <li><b>Blessures profondes :</b> (Niv.6 requis) Lorsque vous touchez une créature avec une attaque d'arme de mêlée, vous pouvez dépenser 2 points de rage pour tenter une blessure profonde. La cible doit réussir un jet de sauvegarde de Constitution ou perdre 1d4 points de vie en raison de la perte de sang. La blessure profonde dure autant de temps que la créature échoue au jet de sauvegarde. A la fin de son tour, la cible perd à nouveau 1d4 points de vie. Elle fait alors un autre jet de sauvegarde de Constitution, pour mettre fin à l'hémorragie en cas de réussite.</li>
                                    <li><b>Exécution :</b> (Niv.6 requis) Lorsque vous touchez une créature avec une attaque d'arme de mêlée, vous pouvez dépenser 6 points de rage pour transformer votre attaque en un coup critique. Ceci n'a aucun effet si le jet d'attaque était déjà critique.</li>
                                    <li><b>Ishio-jambier :</b> Lorsque vous touchez une créature avec une attaque d'arme de mêlée, vous pouvez dépenser 2 points de rage pour tenter de faire tomber la cible. Si la cible est grande ou plus petite, elle doit réussir un jet de sauvegarde de Force. En cas d'échec, vous renversez la cible à plat ventre, elle perd alors un tour pour se relever.</li>
                                    <li><b>Ignorer la douleur :</b> Vous pouvez utiliser votre réaction et dépenser 3 points de rage lorsque vous êtes touché par une attaque d'arme pour vous donner une résistance au dégâts de matraquage, de perçage et de coupure jusqu'au début de votre de votre prochain tour.</li>
                                    <li><b>Frappe mortelle :</b> Lorsque vous touchez une créature avec une attaque d'arme de mêlée, vous pouvez dépenser 2 points de rage pour tenter de porter un coup mortel. La cible doit réussir un jet de sauvegarde de Constitution et n'avoir plus que 20% de ses points de vie.</li>
                                    <li><b>Claquement de bouclier :</b> Lorsque vous frappez une créature avec une arme de mêlée, vous pouvez dépenser 2 points de rage et utiliser votre action bonus pour claquer la cible avec votre bouclier, infligeant des dégâts égaux à 1d4 + votre modificateur de Force. Pour ce faire, vous devez porter un bouclier.</li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="guersorts">
                                <h4>Sorts du Guerrier</h4>
                                <br>
                                <ul>
                                    <li><b>Style de combat :</b> Vous adoptez un style de combat particulier comme votre spécialité. Choisissez l'une des options suivantes :
                                    <ul>
                                      <li><b>Défense :</b> Quand vous portez une armure, vous gagnez +1 de CA.</li>
                                      <li><b>Duel :</b> Lorsque vous maniez une arme de mêlée dans une main et aucune autres armes, vous gagnez un bonus de +2 aux jets de dégâts avec cette arme.</li>
                                      <li><b>Maîtrise des armes lourdes :</b> orsque vous obtenez un 1 ou un 2 sur un dé de dégâts pour une attaque que vous effectuez avec une arme de mêlée que vous maniez à deux mains, vous pouvez relancer le dé mais vous devez obligatoirement utiliser le nouveau jet. L'arme doit avoir la propriété à deux mains ou polyvalente pour que vous puissiez bénéficier de cet avantage.</li>
                                      <li><b>Protection :</b> Lorsqu'une créature que vous pouvez voir attaque une cible autre que vous qui se trouve à 2 cases ou moins de vous, vous pouvez utiliser vos réflexes pour encaisser l'attaque et subir que la moitié des dégâts initialement prévus. Vous devez brandir un bouclier.</li>
                                      <li><b>Combat versatile :</b> Lorsque vous vous engagez dans un combat à deux armes, vous pouvez ajouter votre modificateur de FOR. aux dégâts de la deuxième attaque.</li>
                                    </ul>
                                    </li>
                                    <br>
                                    <li><b>Second souffle :</b> Vous pouvez puiser dans votre endurance pour vous protéger du mal. Comme action bonus, vous pouvez dépenser un dé de points de vie pour vous remettre instantanément de vos blessures, comme si vous vous étiez reposé, regagnant des points de vie égaux au total + votre modificateur de Constitution.</li>
                                    <br>
                                    <li><b>Rage intérieure :</b> Au niveau 2, vous apprenez à vous battre avec une férocité écrasante dans la bataille et vous pouvez exploiter cette fureur dans vos attaques.
                                    <ul>
                                        <li><a>Rage :</a> Vous gagnez 1 point de rage chaque fois que vous infligez des dommages à une créature avec une arme sur laquelle vous n'avez pas dépensé de points de rage. Vous pouvez dépenser ces points de rage pour alimenter diverses manœuvres. Pour utiliser une de ces manœuvres, vous devez dépenser un nombre de points de rage égal à son coût. Vous ne pouvez jamais avoir plus de points de rage que votre niveau de guerrier. Les points de rage accumulés restent valables pendant la durée complète de la session de jeu avant de se dissiper et de remettre votre réserve de rage à zéro.</li>
                                        <li><a>Manœuvres de rage connues :</a> Vous commencez par connaître trois manœuvres : Charge, Désarmement, et Coup de Rage. Chacune d'entre elles est détaillée ci-dessous. La colonne Manœuvres connues de la table Guerrier indique quand vous apprenez de nouvelles manœuvres de rage de votre choix. Vos options de manœuvre sont détaillées à la fin de la description de la classe. De plus, lorsque vous gagnez des niveaux dans cette classe, vous pouvez choisir l'une des manœuvres que vous avez apprises et la remplacer par une autre manœuvre que vous pourriez apprendre à ce niveau. Vous pouvez pas changer Charge, Désarmement, ou Coup de Rage.</li>    
                                        <li><a>Réserve de rage :</a> Vous pouvez utiliser une action bonus à votre tour pour puiser dans votre réserve intérieure de rage et gagner un nombre de points de rage égal à la colonne Réserve de rage de la table Guerrier. Vous ne pouvez pas excéder la valeur de rage totale lié à votre niveau.
                                        <li><a>Jet de sauvegarde pour les manœuvres :</a> Certaines de vos manœuvres de rage nécessitent que votre cible fasse un jet de sauvegarde pour résister aux effets de la manœuvre. Le jet de sauvegarde est calculé comme suit : Jet de sauvegarde de Rage = 8 + votre bonus de maîtrise + votre modificateur de Force</li>
                                        <li><a>Manœuvres de rage :</a> Vous commencez par connaître trois manœuvres de rage :
                                            <ul>
                                            <li><b>Charge :</b> Quand vous lancez Charge, vous déplacez d'au moins 6 cases vers une cible, vous pouvez dépenser 1 point de rage et effectuer une attaque à l'arme contre elle dans le cadre de l'action de Charge. Cette attaque est effectuée avec avantage (Pas de jet de protection pour l'adversaire).</li>
                                            <li><b>Désarmer :</b> Vous pouvez dépenser 2 points de rage lorsque vous effectuez un jet d'attaque pour tenter un désarmement. Si l'attaque touche, vous infligez des dégâts d'arme normaux et la cible perd un objet de votre choix qu'elle tient.</li>
                                            <li><b>Coup de rage :</b> Lorsque vous effectuez un jet de dégâts pour une attaque de mêlée, vous pouvez dépenser 1 ou plusieurs points de rage pour relancer 1 dés de dégâts pour chaque point de rage dépensé. Vous devez utiliser le nouveau jet.</li>
                                        </ul></li>
                                    </ul>
                                    </li>
                                    <br>
                                    <li><b>Archétype martial :</b> Au niveau 3, vous choisissez un archétype martial que vous vous efforcez d'imiter dans vos styles et techniques de combat. Choisissez Armes, Fureur ou Protection, tous détaillés à la fin de la description de la classe. Votre archétype vous accorde des caractéristiques au niveau 3, 7, 11, 15 et 18.</li>
                                    <br>
                                    <li><b>Caractéristique augmentée :</b> Lorsque vous atteignez le niveau 4, puis de nouveau aux niveaux 8, 12, 16 et 19, vous pouvez augmenter de 2 une valeur de caractéristique de votre choix, ou vous pouvez augmenter de 1 deux valeurs de caractéristique de votre choix. Comme d'habitude, vous ne pouvez pas augmenter un score de capacité au-dessus de 20 en utilisant cette fonctionnalité.</li>
                                    <br>
                                    <li><b>Attaque supplémentaire :</b> À partir du niveau 5, vous pouvez attaquer deux fois, au lieu d'une, chaque fois que vous effectuez l'action Attaquer à votre tour.</li>
                                    <br>
                                    <li><b>Dépassement de soi :</b> À partir du niveau 6, vous pouvez vous pousser au-delà de vos limites pendant un moment. A votre tour, vous pouvez faire une action supplémentaire en plus de votre action régulière et une action bonus éventuelle. Une fois que vous utilisez cette caractéristique, vous ne pouvez l'utiliser de nouveau avant la fin du combat. A partir du niveau 17, vous pouvez l'utiliser deux fois.</li>
                                    <br>
                                    <li><b>Indomptable :</b> Au niveau 10, vous pouvez relancer un jet de sauvegarde auquel vous avez échoué. Si vous le faites, vous devez utiliser le nouveau jet, et vous ne pouvez pas utiliser cette caractéristique à nouveau avant la fin du combat. Vous pouvez utiliser cette caractéristique deux fois à partir du niveau 14.</li>
                                </ul>
                            </div>
                        <div role="tabpanel" class="tab-pane" id="guerarmes">
                            <h4>Archétype du guerrier Arme</h4>
                            <p style="text-align: center;"><i class="font-size-80pct">Les guerriers des armes ne sont pas forgés dans une salle de classe, une taverne ou un atelier, mais dans les fosses de duel et sur le sol de l'arène. Ces guerriers sont des combattants patients, attendant de capitaliser sur moments où leur adversaire est exposé. Beaucoup de guerriers d'armes gravitent autour des armes à deux têtes, des armes qui leur permettent de porter des coups dévastateurs et puissants, en exploitant pleinement les faiblesses de leurs ennemis.</i></p>
                            <br>
                            <ul>
                              <li><b>Surpuissance :</b> À partir du moment où vous choisissez cet archétype au niveau 3, vous apprenez à utiliser votre arme comme une barrière. Lorsque vous êtes touché par une attaque de mêlée, vous pouvez utiliser vos réflexes pour lancer 1d10 et ajouter le total à votre Classe d'Armure. Si votre surpuissance fait que l'attaque vous manque, vous pouvez effectuer une attaque avec une arme contre la cible dans le cadre de la même réaction. Vous pouvez utiliser cette caractéristique deux fois par combat.</li>
                                <li><b>Intrépide :</b> Au niveau 3, votre rage se reconstitue alors même que vous la déversez dans vos attaques. Vous regagnez 1 rage à la fin de votre tour de jeu si vous frappez une créature avec un coup de rage pendant celui-ci.</li>
                                <li><b>Cri de commandement :</b> À partir du niveau 7, vous êtes capable d'ordonner à un allié d'attaquer votre proie. Comme action bonus, choisissez une créature amie dans un rayon de 20 cases de vous qui peut vous voir ou vous entendre. Cette créature peut immédiatement utiliser sa réaction pour effectuer une attaque d'arme de mêlée.</li>
                                <li><b>Smash colossal :</b> À partir du niveau 11, lorsque vous touchez une créature avec une attaque d'arme de mêlée à votre tour, vous pouvez briser ses défenses et donner l'avantage à la prochaine attaque d'arme effectuée contre la cible avant la fin de votre prochain tour (Ignore la CA de l'ennemi et inflige 1d20 de dégâts en plus de ceux de l'arme). Vous pouvez utiliser Smash colossal une seule fois à chacun de vos tours.</li>
                                <li><b>Calme mortel :</b> À partir du niveau 15, vous adoptez instinctivement une position défensive quand les choses deviennent difficiles. Tant que vous êtes en dessous de la moitié de votre maximum de points de vie, vous avez l'avantage sur tous les jets de sauvegarde Force, Dextérité, ou Constitution que vous effectuez (Impossibilité de faire un 1).</li>
                                <li><b>Frappe d'opportunité :</b> À partir du niveau 18, vous répondez aux ouvertures dans la défense des ennemis avec une férocité inégalée. En combat, vous obtenez une réaction spéciale que vous pouvez prendre une fois au tour de chaque créature (à portée de vos attaques), sauf à votre tour. Vous pouvez utiliser cette réaction spéciale uniquement pour faire une attaque d'opportunité, et vous ne pouvez pas l'utiliser dans le même tour que votre réaction normale.</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="guerfureur">
                            <h4>Archétype du guerrier Fureur</h4>
                            <p style="text-align: center;"><i class="font-size-80pct">Les guerriers de la Fureur sont parmi les combattants les plus redoutés, ces combattants intrépides s'aventurent dans la mêlée avec la soif de se battre, ignorant leur propre défense pour délivrer des coups avec une force brute. De nombreux guerriers de la fureur préfèrent les armes capables d'être maniées d'une seule main pour déclencher une rafale de attaques qui réduisent leur adversaire en pièces.</i></p>
                            <br>
                            <ul>
                                <li><b>Carnage :</b> Au niveau 3, vous pouvez vous débarrasser de tout souci de défense pour attaquer avec un désespoir féroce. Lorsque vous effectuez votre première attaque à votre tour, vous pouvez décider de vous déchaîner. Cela vous donne avantage sur les jets d'attaque à l'arme de mêlée en utilisant le mod. de FOR durant ce tour, mais vous perdez votre CA pendant un tour.</li>
                                <li><b>Peur :</b> Au niveau 3, vous gagnez la compétence Intimidation si vous ne l'avez pas déjà et lorsque vous effectuez un test de capacité avec cette compétence, vous pouvez choisir d'utiliser votre modificateur de Force au lieu de celui du Charisme.</li>
                                <li><b>Fureur obstinée :</b> À partir du niveau 7, votre force brutale vous permet de manier des armes avec une puissance inégalée par les autres guerriers. Lorsque vous maniez une arme qui inflige un seul dés de dégâts, le dés de dégâts de l'arme est augmenté de 1. Par exemple, une épée courte qui inflige normalement 1d6 points de dégâts inflige à la place 1d8 points de dégâts. Le dé de dégâts d'une arme ne peut pas être augmenté au-delà de 1d12.</li>
                                <li><b>Soif de sang :</b> À partir du niveau 11, quand une créature hostile dans un rayon de 6 cases de vous subit des dégâts, vous pouvez utiliser votre réaction pour vous déplacer jusqu'à la moitié de votre vitesse vers la créature sans provoquer d'opposition. Si ce mouvement vous amène à portée de la créature, vous pouvez faire une attaque d'arme contre la créature dans le cadre de la réaction.</li>
                                <li><b>Coup critique dévastateur :</b> Au niveau 15, lorsque vous obtenez un coup critique avec une attaque d'arme, vous gagnez un bonus au jet de dégâts de cette arme égal à votre niveau dans cette classe. (1 dés = 1 niveau).</li>
                                <li><b>Écume du Berserker :</b> Au niveau 18, si vous subissez des dégâts qui vous réduisent à 0 point de vie et qui ne vous tuent pas directement, vous pouvez utiliser votre réaction pour retarder votre perte de conscience et prendre immédiatement un tour supplémentaire. Tant que vous avez 0 point de vie pendant ce tour supplémentaire, les dégâts subis provoquent des échecs aux jets de sauvegarde de la mort comme normalement, et trois échecs aux jets de sauvegarde de la mort peuvent encore vous tuer. Lorsque le tour supplémentaire se termine, vous tombez inconscient si vous avez toujours 0 points de vie. Une fois que vous avez utilisé cette caractéristique, vous ne pouvez pas l'utiliser à nouveau avant la fin du combat.</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="guerprotect">
                            <h4>Archétype du guerrier Protection</h4>
                            <p style="text-align: center;"><i class="font-size-80pct">Les guerriers de la protection font preuve d'une grande habileté dans l'utilisation du bouclier, annulant les avancées de l'adversaire et créant des opportunités pour les contre-attaques. Pour eux, être le soldat le plus résistant du front ne signifie rien si les alliés sont laissés - vulnérables aux attaques de l'ennemi. Ces vaillants défenseurs sont indispensables au succès de toute campagne militaire.</i></p>
                            <br>
                             <ul>
                                <li><b>Provocation :</b> À partir du moment où vous choisissez cet archétype au niveau 3, vous pouvez utiliser votre action pour railler les créatures situées à moins de 10 cases de vous. Toute créature de votre choix se trouvant dans le rayon d'action doit réussir un jet de sauvegarde de Sagesse contre votre DC de sauvegarde de Rage. Une créature peut répéter le jet de sauvegarde à la fin de chacun de ses tours, mettant fin à l'effet en cas de réussite. Vous ne pouvez utiliser ce compétence que deux fois par combat.</li>
                                <li><b>Maîtrise de la colère :</b> Au niveau 3, votre rage est renouvelée par les coups portés contre vous. Lorsqu'une créature hostile vous frappe avec une attaque, vous gagnez immédiatement 1 point de rage.</li>
                                <li><b>Interception :</b> À partir du niveau 7, lorsqu'une créature que vous pouvez voir attaque une cible autre que vous qui se trouve à moins de 2 cases de vous, vous pouvez utiliser votre réaction pour intercepter l'attaque, en forçant l'attaque à vous cibler à la place. Vous pouvez utiliser cette caractéristique un nombre de fois égal à votre modificateur de Constitution (minimum 1)par combat.</li>
                                <li><b>Coups adoucis :</b> A partir du niveau 11, même les coups les plus forts ne pourront pas fausser votre défense. Tout coup critique contre vous devient un coup normal et vous avez l'avantage sur tout test ou jet de sauvegarde effectué pour éviter d'être mis à terre.</li>
                                <li><b>Présence inspirante :</b> A partir du niveau 15, vous pouvez étendre le bénéfice de votre caractéristique "Indomptable" à un allié.</li>
                                <li><b>Ténacité :</b> À partir du niveau 18, chaque fois que vous commencez votre tour en dessous de la moitié de votre maximum de points de vie, vous gagnez 1d10 + votre Constitution. de vos maximum de points de vie, vous ne gagnez pas cette avantage si vous avez 0 points de vie. </li>
                            </ul>
                        </div>
                  </div>
                </div>
                <div class="col-xs-6">
                    <div class="classCaracBloc">
                        <p style="text-align: center;"><img src="/assets/images/classes/logo/guerrier_logo.png" class="logoClass"></p>
                        <h3>Fiche du Guerrier</h3>
                        <b>Caractéristique du Guerrier :</b>
                        <br>
                        <ul>
                          <li><b>Dés de vie :</b> <p style="color: rgb(0, 0, 0)">1d10 par niveau du Guerrier</p></li>
                          <li><b>Points de vie au niveau 1 :</b> <p style="color: rgb(0, 0, 0)">10 + votre modificateur de Constitution</p></li>
                          <li><b>Points de vie aux niveaux supérieurs :</b> <p style="color: rgb(0, 0, 0)">1d10 (ou 6) + votre modificateur de Constitution par niveau du Guerrier</p></li>
                        </ul>
                        <br>
                        <b>Armures :</b> Toutes les armures, boucliers
                        <br><br>
                        <b>Armes :</b> Armes simples, armes de guerre, arme à feu
                        <br><br>
                        <b>Caractéristique du Guerrier :</b> Force, Constitution
                        <br><br>
                        <b>Compétence du Guerrier :</b> Choisissez deux compétences parmi Acrobaties, Athlétisme, Dressage, Histoire, Persuasion, Religion, Intimidation, Perception et Survie.
                        <br><br>
                        <b>Équipement du Guerrier :</b> Vous commencez avec une arme martiale et un bouclier, ou une arme à deux mains martiales, une cotte de mailles ainsi qu'une arbalète avec 20 carreaux.
                        <br><br>
                        <b>Races jouables :</b>
                        <div class="row">
                            <div class="col-xs-6 valign-middle margin-top-5">
                                <img src="/assets/images/classes/portrait_races/draenei.jpg" class="square-40">
                                <a href="/races/draenei"><img src="/assets/images/faction/alliance.png" class="square-20"> Draenei</a>
                            </div>
                            <div class="col-xs-6 valign-middle margin-top-5">
                                <img src="/assets/images/classes/portrait_races/orc.jpg" class="square-40">
                                <a href="/races/orc"><img src="/assets/images/faction/horde.png" class="square-20"> Orc</a>
                            </div>
                            <div class="col-xs-6 valign-middle margin-top-5">
                                <img src="/assets/images/classes/portrait_races/humain.jpg" class="square-40">
                                <a href="/races/humain"><img src="/assets/images/faction/alliance.png" class="square-20"> Humain</a>
                            </div>
                            <div class="col-xs-6 valign-middle margin-top-5">
                                <img src="/assets/images/classes/portrait_races/tauren.jpg" class="square-40">
                                <a href="/races/tauren"><img src="/assets/images/faction/horde.png" class="square-20"> Tauren</a>
                            </div>
                            <div class="col-xs-6 valign-middle margin-top-5">
                              <img src="/assets/images/classes/portrait_races/nain.jpg" class="square-40">
                              <a href="/races/nain"><img src="/assets/images/faction/alliance.png" class="square-20"> Nain</a>
                          </div>
                          <div class="col-xs-6 valign-middle margin-top-5">
                            <img src="/assets/images/classes/portrait_races/troll.jpg" class="square-40">
                            <a href="/races/troll"><img src="/assets/images/faction/horde.png" class="square-20"> Troll</a>
                        </div>
                        <div class="col-xs-6 valign-middle margin-top-5">
                            <img src="/assets/images/classes/portrait_races/gnome.jpg" class="square-40">
                            <a href="/races/gnome"><img src="/assets/images/faction/alliance.png" class="square-20"> Gnome</a>
                        </div>
                        <div class="col-xs-6 valign-middle margin-top-5">
                            <img src="/assets/images/classes/portrait_races/reprouve.jpg" class="square-40">
                            <a href="/races/reprouve"><img src="/assets/images/faction/horde.png" class="square-20"> Réprouvé</a>
                        </div>
                        <div class="col-xs-6 valign-middle margin-top-5">
                            <img src="/assets/images/classes/portrait_races/elfenuit.jpg" class="square-40">
                            <a href="/races/elfenuit"><img src="/assets/images/faction/alliance.png" class="square-20"> Elfe de la nuit</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
  </body>
  