<body>
  <div class="content">
    <h3>Merci pour votre inscription</h3>
    <div class="formGroup" *ngIf="authService.userData as user">
      <p class="text-center">Vous avez reçu un mail de confirmation à cette adresse : <strong>{{user.email}}</strong>.</p>
      <p class="text-center">Merci de vérifier et de cliquer sur le lien que nous vous avons envoyé.</p>
    </div>
    <div class="wrapper center-div">
      <div class="form-box login">
        <button type="button" class="btn" (click)="authService.SendVerificationMail()">
          <i class="fas fa-redo-alt"></i>
          Renvoyer l'E-mail
        </button>
        <div class="redirectToLogin">
          <p>Revenir à la connexion ?<a routerLink="/connexion"> Connexion</a></p>
        </div>
      </div>
    </div>
  </div>
</body>
