/***************
* Navbar
***************/
.navbar {
  background-image: url('../../../../assets/images/navbar/navbar.jpg') !important;
}

.navbar-nav .dropdown-menu {
  background-image: url('../../../../assets/images/navbar/brown_small.jpg') !important;
}

.navbar-nav a, .navbar-nav .caret {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(top,#efd100 0,#e2a233 38%,#f0c328 60%,#fff1a3 86%,#ffe13e 100%);
  background-size: 1em 1em;
  color: #f8b700;
  display: inline-block;
  line-height: 1.5em;
  position: relative;
  z-index: auto;
  font-size: 17px;
  text-transform: uppercase;
  font-family: "Semplicita Pro","Open Sans",Arial,Helvetica,sans-serif;
  font-weight: 700;
  text-shadow: none;
}

.nav-tabs > li > a,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border: none;
}
