<body>
  <div class="content">
    <h1>Campagne : L'Ascension de la Couronne de Givre</h1>
    <p>Bienvenue sur le site de Chris Linefield, site dédié au jeu de rôle de World of Warcraft se basant sur l'univers
      D&D édition 5. On parle ici d'une campagne qui est personnalisée, il n'est donc pas possible de la rejoindre sans
      l'accord de Chris Linefield.</p>
    <p>Pour rappel, Warcraft et son univers appartiennent à Blizzard Entertainement. Ce site a été crée dans un but
      bénévole afin de s'amuser entre amis.</p>
    <p style="color: red">Je vous invite à visiter les différentes catégories disponibles afin d'en apprendre plus sur
      l'univers sur lequel vous allez être. Vous pouvez également rejoindre le discord officiel de la campagne qui est
      le suivant : <a href="https://discord.gg/Mg6mDV7hey" target="_about"> DISCORD OFFICIEL </a> </p>
  </div>
</body>
