<body>
  <section class="container">
    <h1 class="ng-scope">Les Classes</h1>
    <p class="ng-scope">Vous avez votre race, mais vous hésitez encore pour la classe? Vous voulez choisir une classe et voir la race ensuite? Toutes les infos sont là!
      Des Paladins en armure de plaque auréolés de lumière, aux sombres Chasseurs de Démons luttant avec des glaives de guerre, en passant par les Druides
      aux multiples talents, le choix est vaste, et vous trouverez forcement ce qui vous intéresse!</p>

    <hr class="ng-scope">

    <div class="row ng-scope">
      <!-- CHAMAN -->
      <div class="col-xs-6" routerLink="/classes/chaman">
        <div class="classBlock row row-eq-height">
          <div class="col-xs-4 valign-middle text-center">
            <img src="assets/images/classes/logo/chaman_logo.png" class="classLogo"><br>
            <img src="assets/images/classes/specialisation/cham_restau.jpg" title="Restauration" class="speLogo">
            <img src="assets/images/classes/specialisation/cham_elem.jpg" title="Élémentaire" class="speLogo">
            <img src="assets/images/classes/specialisation/cham_amelio.jpg" title="Amélioration" class="speLogo"><br>
          </div>
          <div class="col-xs-8">
            <h3>Chaman</h3>
            <h4 class="color-shaman">Adepte des éléments</h4>
            <i class="subtitle">Dégâts à distance, Dégâts Corps à Corps, Soigneur.</i>
            <br>
            <br>
            <p>Les chamans sont des guides spirituels qui font appel à des puissances non pas divines mais élémentaires. Ce mysticisme particulier amène le chaman à communier avec des forces qui ne sont pas toujours bienveillantes.</p>
          </div>
        </div>
      </div>

      <!-- CHASSEUR -->
      <div class="col-xs-6" routerLink="/classes/chasseur">
        <div class="classBlock row row-eq-height">
          <div class="col-xs-4 valign-middle text-center">
            <img src="assets/images/classes/logo/chasseur_logo.png" class="classLogo"><br>
            <img src="assets/images/classes/specialisation/chas_bete.jpg" title="Maîtrise des Bêtes" class="speLogo">
            <img src="assets/images/classes/specialisation/chas_preci.jpg" title="Précision" class="speLogo">
            <img src="assets/images/classes/specialisation/chas_survie.jpg" title="Survie" class="speLogo">
          </div>
          <div class="col-xs-8">
            <h3>Chasseur</h3>
            <h4 class="color-hunter">Traqueur infatigable</h4>
            <i class="subtitle">Dégâts à distance</i>
            <br>
            <br>
            <p>L’appel de la nature tire dès leur plus jeune âge certains aventuriers du confort de leur demeure pour les plonger dans la sauvagerie impitoyable du monde extérieur. Ceux qui y survivent deviennent des chasseurs.</p>
          </div>
        </div>
      </div>

      <!-- CHASSEUR DE DEMONS -->
      <div class="col-xs-6" routerLink="/classes/chasseurdemon">
        <div class="classBlock row row-eq-height">
          <div class="col-xs-4 valign-middle text-center">
            <img src="assets/images/classes/logo/chasseurdemon_logo.png" class="classLogo"><br>
            <img src="assets/images/classes/specialisation/demon_devas.jpg" title="Dévastation" class="speLogo">
            <img src="assets/images/classes/specialisation/demon_vengea.jpg" title="Vengeance" class="speLogo">
          </div>
          <div class="col-xs-8">
            <h3>Chasseur de Démons</h3>
            <h4 class="color-demon-hunter">Prédateur impitoyable</h4>
            <i class="subtitle">Dégâts Corps à Corps, Tank.</i>
            <br>
            <br>
            <p>Les chasseurs de démons sont porteurs d’un héritage maléfique qui terrorise leurs alliés autant que leurs ennemis. Convaincus qu’elle est essentielle pour tenir tête à la Légion, ils se vouent à une magie chaotique et gangrenée qui menace Azeroth depuis bien longtemps.</p>
          </div>
        </div>
      </div>

      <!-- CHEVALIER DE LA MORT -->
      <div class="col-xs-6" routerLink="/classes/dk">
        <div class="classBlock row row-eq-height">
          <div class="col-xs-4 valign-middle text-center">
            <img src="assets/images/classes/logo/chevaliermort_logo.png" class="classLogo"><br>
            <img src="assets/images/classes/specialisation/dk_sang.jpg" title="Sang" class="speLogo">
            <img src="assets/images/classes/specialisation/dk_givre.jpg" title="Givre" class="speLogo">
            <img src="assets/images/classes/specialisation/dk_impie.jpg" title="Impie" class="speLogo">
          </div>
          <div class="col-xs-8">
            <h3>Chevalier de la Mort</h3>
            <h4 class="color-death-knight">Héraut de la damnation</h4>
            <i class="subtitle">Dégâts Corps à Corps, Tank.</i>
            <br>
            <br>
            <p>Quand les chevaliers de la mort du Roi Liche furent libérés de son emprise, ces anciens champions crièrent veangeance pour les horreurs commises sous ses ordres.</p>
          </div>
        </div>
      </div>

      <!-- DEMONISTE -->
      <div class="col-xs-6" routerLink="/classes/demoniste">
        <div class="classBlock row row-eq-height">
          <div class="col-xs-4 valign-middle text-center">
            <img src="assets/images/classes/logo/demoniste_logo.png" class="classLogo"><br>
            <img src="assets/images/classes/specialisation/demo_affli.jpg" title="Affliction" class="speLogo">
            <img src="assets/images/classes/specialisation/demo_demono.jpg" title="Démonologie" class="speLogo">
            <img src="assets/images/classes/specialisation/demo_destru.jpg" title="Destruction" class="speLogo">
          </div>
          <div class="col-xs-8">
            <h3>Démoniste</h3>
            <h4 class="color-warlock">Maître des puissances de l'ombre</h4>
            <i class="subtitle">Dégâts à distance.</i>
            <br>
            <br>
            <p>Pour la plupart des héros, les puissances démoniaques sont synonymes de mort. Les démonistes, eux, voient en elles une opportunité de domination.</p>
          </div>
        </div>
      </div>

      <!-- DRUIDE -->
      <div class="col-xs-6" routerLink="/classes/druide">
        <div class="classBlock row row-eq-height">
          <div class="col-xs-4 valign-middle text-center">
            <img src="assets/images/classes/logo/druide_logo.png" class="classLogo"><br>
            <img src="assets/images/classes/specialisation/drui_feral.jpg" title="Combat Farouche" class="speLogo">
            <img src="assets/images/classes/specialisation/drui_equi.jpg" title="Équilibre" class="speLogo">
            <img src="assets/images/classes/specialisation/drui_restau.jpg" title="Restauration" class="speLogo">
          </div>
          <div class="col-xs-8">
            <h3>Druide</h3>
            <h4 class="color-druid">Changeforme féroce</h4>
            <i class="subtitle">Dégâts à distance, Dégâts au Corps à Corps, Tank, Soigneur.</i>
            <br>
            <br>
            <p>Les druides font appel aux vastes pouvoirs de la nature pour préserver son équilibre et protéger la vie, utilisant des formes animales voir même végétales pour y parvenir: ours, panthère, tréant, ...</p>
          </div>
        </div>
      </div>

      <!-- GUERRIER -->
      <div class="col-xs-6" routerLink="/classes/guerrier">
        <div class="classBlock row row-eq-height">
          <div class="col-xs-4 valign-middle text-center">
            <img src="assets/images/classes/logo/guerrier_logo.png" class="classLogo"><br>
            <img src="assets/images/classes/specialisation/guer_armes.jpg" title="Armes" class="speLogo">
            <img src="assets/images/classes/specialisation/guer_protect.jpg" title="Protection" class="speLogo">
            <img src="assets/images/classes/specialisation/guer_fureur.png" title="Fureur" class="speLogo">
          </div>
          <div class="col-xs-8">
            <h3>Guerrier</h3>
            <h4 class="color-warrior">Seigneur de Guerre</h4>
            <i class="subtitle">Dégâts au Corps à Corps, Tank.</i>
            <br>
            <br>
            <p>Depuis que la guerre fait rage, des héros de toutes races ont cherché à maîtriser l’art du combat. Les guerriers combinent force, autorité et maîtrise des armes et des armures pour causer des ravages dans des combats épiques.</p>
          </div>
        </div>
      </div>

      <!-- MAGE -->
      <div class="col-xs-6" routerLink="/classes/mage">
        <div class="classBlock row row-eq-height">
          <div class="col-xs-4 valign-middle text-center">
            <img src="assets/images/classes/logo/mage_logo.png" class="classLogo"><br>
            <img src="assets/images/classes/specialisation/mage_arca.jpg" title="Arcanes" class="speLogo">
            <img src="assets/images/classes/specialisation/mage_feu.jpg" title="Feu" class="speLogo">
            <img src="assets/images/classes/specialisation/mage_givre.jpg" title="Givre" class="speLogo">
          </div>
          <div class="col-xs-8">
            <h3>Mage</h3>
            <h4 class="color-mage">Maître de l'espace-temps</h4>
            <i class="subtitle">Dégâts à distance.</i>
            <br>
            <br>
            <p>Les étudiants les plus intelligents et les plus disciplinés peuvent envisager une carrière de mage. Trois branches s'offrent à eux: les arcanes, le givre ou les flammes.</p>
          </div>
        </div>
      </div>

      <!-- MOINE -->
      <div class="col-xs-6" routerLink="/classes/moine">
        <div class="classBlock row row-eq-height">
          <div class="col-xs-4 valign-middle text-center">
            <img src="assets/images/classes/logo/moine_logo.png" class="classLogo"><br>
            <img src="assets/images/classes/specialisation/moine_maitre.jpg" title="Maître-Brasseur" class="speLogo">
            <img src="assets/images/classes/specialisation/moine_tisse.jpg" title="Tisse-Brume" class="speLogo">
            <img src="assets/images/classes/specialisation/moine_marche.jpg" title="Marche-Vent" class="speLogo">
          </div>
          <div class="col-xs-8">
            <h3>Moine</h3>
            <h4 class="color-monk">Lutteur d'exception</h4>
            <i class="subtitle">Dégâts Corps à Corps, Tank, Soigneur.</i>
            <br>
            <br>
            <p>Il y a des siècles, quand les pandarens étaient sous la coupe des mogu, ce sont les moines qui apportèrent l’espoir à un avenir qui paraissait bien terne. Depuis, leur enseignement s'est étendu aux autres races d'Azeroth.</p>
          </div>
        </div>
      </div>

      <!-- PALADIN -->
      <div class="col-xs-6" routerLink="/classes/paladin">
        <div class="classBlock row row-eq-height">
          <div class="col-xs-4 valign-middle text-center">
            <img src="assets/images/classes/logo/paladin_logo.png" class="classLogo"><br>
            <img src="assets/images/classes/specialisation/pala_protect.jpg" title="Protection" class="speLogo">
            <img src="assets/images/classes/specialisation/pala_sacre.jpg" title="Sacré" class="speLogo">
            <img src="assets/images/classes/specialisation/pala_vindic.jpg" title="Vindicte" class="speLogo">
          </div>
          <div class="col-xs-8">
            <h3>Paladin</h3>
            <h4 class="color-paladin">Parangon de justice</h4>
            <i class="subtitle">Dégâts Corps à Corps, Tank, Soigneur.</i>
            <br>
            <br>
            <p>Le paladin observe fidèlement ces règles : protéger le faible, faire régner la justice et vaincre le mal jusque dans les recoins les plus sombres de ce monde.</p>
          </div>
        </div>
      </div>

      <!-- PRETRE -->
      <div class="col-xs-6" routerLink="/classes/pretre">
        <div class="classBlock row row-eq-height">
          <div class="col-xs-4 valign-middle text-center">
            <img src="assets/images/classes/logo/pretre_logo.png" class="classLogo"><br>
            <img src="assets/images/classes/specialisation/pret_soins.jpg" title="Sacré" class="speLogo">
            <img src="assets/images/classes/specialisation/pret_disci.jpg" title="Discipline" class="speLogo">
            <img src="assets/images/classes/specialisation/pret_ombre.jpg" title="Ombre" class="speLogo">
          </div>
          <div class="col-xs-8">
            <h3>Prêtre</h3>
            <h4 class="color-priest">Invocateur de lumière et d'ombre</h4>
            <i class="subtitle">Dégâts à distance, Soigneur.</i>
            <br>
            <br>
            <p>C’est au spirituel que les prêtres ont consacré leur vie et c’est en étant au service des autres que leurs actes traduisent la force de leur foi. Depuis des millénaires, ils ont quitté le confort de leurs lieux saints pour aller soutenir leurs alliés sur les terres dévastées par la guerre.</p>
          </div>
        </div>
      </div>

      <!-- VOLEUR -->
      <div class="col-xs-6" routerLink="/classes/voleur">
        <div class="classBlock row row-eq-height">
          <div class="col-xs-4 valign-middle text-center">
            <img src="assets/images/classes/logo/voleur_logo.png" class="classLogo"><br>
            <img src="assets/images/classes/specialisation/vole_assa.jpg" title="Assassinat" class="speLogo">
            <img src="assets/images/classes/specialisation/vole_finesse.jpg" title="Finesse" class="speLogo">
            <img src="assets/images/classes/specialisation/vole_combat.jpg" title="Combat" class="speLogo">
          </div>
          <div class="col-xs-8">
            <h3>Voleur</h3>
            <h4 class="color-rogue">Assassin silencieux</h4>
            <i class="subtitle">Dégâts Corps à Corps.</i>
            <br>
            <br>
            <p>Un seul code pour les voleurs : remplir le contrat. Quant à leur honneur... tout s’achète avec des pièces d’or. Ces mercenaires s’appuient sur des tactiques brutales et efficaces sans l’ombre d’un remords.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  </body>
