<body>
  <body>
    <section class="container">
    <div id="raceContainer">
      <h1>Les Humains</h1>
      <h4><img src="assets/images/faction/alliance.png" class="height-40px"> Défenseurs du Royaume <img src="assets/images/faction/alliance.png" class="height-40px"></h4>
      <div class="raceSection">
        <div class="row">
          <div class="col-xs-7">
            <img src="assets/images/races/human/human_portrait.png" class="pull-right width-half">
            <p class="italic">Personne ne pense qu'il le mérite. Parce que personne ne le fait. C'est la grâce, pure et simple, nous sommes intrinsèquement indignes, simplement parce que nous sommes humains. Oui, les elfes, les nains et toutes les autres races sont imparfaites. Mais la lumière nous aime quand même. Elle nous aime pour ce que nous pouvons parfois atteindre dans de rares moments. Elle nous aime pour ce que nous pouvons faire pour aider les autres.</p>
            <p class="color-white">Les royaumes humains existent depuis des milliers d'années, et les humains eux-mêmes depuis des milliers d'années. Leur courte vie en comparaison avec les nains et les elfes les pousse à accomplir autant qu'ils le peuvent dans les années qui leur sont données. Leur courage, leur optimisme, et leur entêtement les ont conduit à construire les plus grands royaumes d'Azeroth, dont certains subsistent encore un millénaire plus tard. Peu importe ce les ont poussés vers le bas, cela n'a fait que renforcer le lien entre ceux qui sont encore debout.</p>
            <p class="color-white">Avec leur penchant pour la migration et la conquête, les humains sont plus diversifiés physiquement que toute autre race. Il n'y a pas d'humain type. Un individu peut mesurer entre 1,5 m et un peu plus de 1,80 m et peser entre 56 et 120 kgs. Les teintes de la peau humaine vont de presque noire à très pâle, et la couleur des cheveux va du noir au blond (frisé, crépu ou raide). Les hommes peuvent avoir des poils faciaux clairsemés ou épais. Les humains atteignent l'âge adulte à la fin de l'adolescence et vivent rarement plus d'un siècle.</p>
            <p class="color-white">Les humains sont le peuple le plus adaptable et le plus ambitieux parmi les races d'Azeroth. Ils ont des goûts très variés, morales et coutumes dans les nombreux royaumes où ils se sont installés. Mais lorsqu'ils s'installent, ils restent : ils construisent des villes qui traversent les âges, et de grands royaumes qui peuvent persister pendant de longs siècles. Un individu humain peut avoir une durée de vie relativement courte, mais une nation ou une culture humaine préserve des traditions dont les origines dépassent largement la portée de la mémoire d'un seul être humain. Ils vivent pleinement dans le présent mais planifient également l'avenir, s'efforçant de laisser un héritage durable.</p>
            <p class="color-white">Malgré les atrocités qui leur sont arrivées, les humains restent robustes et courageux, totalement engagés dans la construction de sociétés fortes, à renforcer leurs royaumes, et à reconquérir les nations perdues. Des années de guerre ont tempéré leur résolution, et ils sont plus déterminés que jamais. Leurs valeurs de vertu, d'honneur et de courage font briller leurs rangs.</p>
            <p class="color-white">Parmi toutes les nations humaines, la sainte lumière est un élément central de la société civilisée. Pour la plupart, elle est considérée comme la seule religion et une base de culte, de respect et d'honneur. La religion est largement vénérée à travers Azeroth, mais les humains ont été les premiers à utiliser ses pouvoirs de manière offensive avec la création des paladins. A travers leurs royaumes, on peut trouver des églises de la sainte lumière, une organisation dédiée à la création d'un monde d'honneur et de justice.</p>
            <p class="color-white"></p>
          </div>
          <div class="col-xs-5">
            <div class="raceCaracBloc">
              <p style="text-align: center;"><img src="assets/images/races/human/human_logo.png" class="logoRace"></p>
              <h3>Fiche des Humains</h3>
              <b>Capitale :</b> Hurlevent
              <br>
              <b>Dirigeant :</b> Roi Varian Wrynn
              <br><br>
              <b>Caractéristiques au niveau 1 :</b>
              <ul>
                <li><b>Vitesse de déplacement :</b> 6 cases</li>
                <li><b>Caractéristique bonus :</b> Ajout (+1) dans trois caractéristiques de votre choix</li>
                <li><b>Age :</b> Les humains atteignent l'âge adulte à la fin de leur adolescence et vivent  moins d'un siècle.</li>
                <li><b>Langues parlées :</b> Vous pouvez parler le commun et choisir une langue de votre choix.</li>
                <li><b>Alignement :</b> Les humains ne tendent vers aucun alignement particulier. Le meilleur et le pire se trouvent parmi eux.</li>
                <li><b>Taille moyenne :</b> Les humains varient considérablement en taille et en corpulence, entre 1m50 à un peu plus d'1m80. Quelle que soit votre position dans  cette gamme, votre taille est moyenne.</li>
              </ul>
              <br>
              <b>Classes jouables:</b>
              <div class="row">
                <div class="col-xs-6 valign-middle margin-top-5">
                  <img src="/assets/images/classes/chasseur.jpg" class="square-40">
                  <a href="/classes/chasseur"> Chasseur</a>
                </div>
                <div class="col-xs-6 valign-middle margin-top-5">
                  <img src="/assets/images/classes/chevalier_mort.jpg" class="square-40">
                  <a href="/classes/dk" class="font-size-10px"> Chevalier de la Mort</a>
                </div>
                <div class="col-xs-6 valign-middle margin-top-5">
                  <img src="/assets/images/classes/demoniste.jpg" class="square-40">
                  <a href="/classes/demoniste"> Démoniste</a>
                </div>
                <div class="col-xs-6 valign-middle margin-top-5">
                  <img src="/assets/images/classes/guerrier.jpg" class="square-40">
                  <a href="/classes/guerrier"> Guerrier</a>
                </div>
                <div class="col-xs-6 valign-middle margin-top-5">
                  <img src="/assets/images/classes/mage.jpg" class="square-40">
                  <a href="/classes/mage"> Mage</a>
                </div>
                <div class="col-xs-6 valign-middle margin-top-5">
                  <img src="/assets/images/classes/moine.jpg" class="square-40">
                  <a href="/classes/moine"> Moine</a>
                </div>
                <div class="col-xs-6 valign-middle margin-top-5">
                  <img src="/assets/images/classes/paladin.jpg" class="square-40">
                  <a href="/classes/paladin"> Paladin</a>
                </div>
                <div class="col-xs-6 valign-middle margin-top-5">
                  <img src="/assets/images/classes/pretre.jpg" class="square-40">
                  <a href="/classes/pretre"> Prêtre</a>
                </div>
                <div class="col-xs-6 valign-middle margin-top-5">
                  <img src="/assets/images/classes/voleur.jpg" class="square-40">
                  <a href="/classes/voleur"> Voleur</a>
                </div>
              </div>
              <br>
              <b>Traits raciaux:</b>
              <ul>
                <li><b>Esprit humain :</b> Lorsque vous faites un échec critique sur un jet d'attaque, un jet de compétence ou jet de sauvegarde, vous pouvez relancer le dé mais vous devrez prendre la dernière valeur obligatoirement.</li>
                <li><b>Robustesse sans faille :</b> Lorsqu’une attaque devrait amener le personnage a 0 PV, les dommages qu’elle inflige sont divisés par 2.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
    </body>
</body>
